/* @override 
	http://dealfuel.com/wp-content/plugins/wp-minify/min/?f=wp-content/themes/dealfuel/style.css,wp-content/themes/dealfuel/css/custom.css&m=1329844558
	http://dealfuel.com/wp-content/plugins/wp-minify/min/?f=wp-content/themes/dealfuel/style.css,wp-content/themes/dealfuel/css/custom.css&m=1331665238
	http://dealfuel.com/wp-content/themes/dealfuel/css/custom.css

/* Dealfuel 2012, THIS IS NEW. */

article,aside,details,figcaption,figure,  
footer,header,hgroup,menu,nav,section {  
   display: block;  
}

/* Automatically clear elements for standards-compliant browsers */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;

/* Trigger has-layout for IE compatibility */
.clearfix {
	zoom: 1;
}

@font-face {
    font-family: 'Tahoma';
    //src: url('../fonts/interstate-blackcondensed-webfont.eot');
   // src: url('../fonts/interstate-blackcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         //url('../fonts/interstate-blackcondensed-webfont.woff') format('woff'),
         //url('../fonts/interstate-blackcondensed-webfont.ttf') format('truetype'),
         //url('../fonts/interstate-blackcondensed-webfont.svg#InterstateBlackCondensedRg') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Tahoma';
    //src: url('../fonts/interstate-boldcondensed-webfont.eot');
    //src: url('../fonts/interstate-boldcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         //url('../fonts/interstate-boldcondensed-webfont.woff') format('woff'),
         //url('../fonts/interstate-boldcondensed-webfont.ttf') format('truetype'),
        // url('../fonts/interstate-boldcondensed-webfont.svg#InterstateBoldCondensedBold') format('svg');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Tahoma';
    //src: url('../fonts/interstate-lightcondensed-webfont.eot');
    //src: url('../fonts/interstate-lightcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         //url('../fonts/interstate-lightcondensed-webfont.woff') format('woff'),
         //url('../fonts/interstate-lightcondensed-webfont.ttf') format('truetype'),
         //url('../fonts/interstate-lightcondensed-webfont.svg#InterstateLightCondensedRg') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'CooperStd';
    src: url('../fonts/cooperblackstd-webfont.eot');
    src: url('../fonts/cooperblackstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cooperblackstd-webfont.woff') format('woff'),
         url('../fonts/cooperblackstd-webfont.ttf') format('truetype'),
         url('../fonts/cooperblackstd-webfont.svg#CooperStdBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Panic Sans';
    src: url('../fonts/panicsans-webfont.eot');
    src: url('../fonts/panicsans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/panicsans-webfont.woff') format('woff'),
         url('../fonts/panicsans-webfont.ttf') format('truetype'),
         url('../fonts/panicsans-webfont.svg#PanicSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Panic Sans';
    src: url('../fonts/panicsansbold-webfont.eot');
    src: url('../fonts/panicsansbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/panicsansbold-webfont.woff') format('woff'),
         url('../fonts/panicsansbold-webfont.ttf') format('truetype'),
         url('../fonts/panicsansbold-webfont.svg#PanicSansBold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Lobster';
    src: url('../fonts/lobster_1.4-webfont.eot');
    src: url('../fonts/lobster_1.4-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lobster_1.4-webfont.woff') format('woff'),
         url('../fonts/lobster_1.4-webfont.ttf') format('truetype'),
         url('../fonts/lobster_1.4-webfont.svg#Lobster14Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.coopers{font-family: CooperSTD;}
.interstate{font-family: Tahoma;}
.panic-sans{font-family: 'Panic Sans';}
.lobster{font-family:  'Lobster';
}
.bt-shadow{/*text-shadow: rgba(0,0,0,0.5) 0 1px 0;}
.wt-shadow{text-shadow: rgba(255,255,255,0.5) 0 1px 0;}

#newsletter{
	display: none;
}

body{
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif!important;
	padding: 0;
	margin: 0;
	padding-top: 0!important;
	padding-bottom:0px!important;
	/*background: url(../images/lined-bg.jpg) !important;*/
	
}

.wrapper{
	width: 978px;
	margin: 0 auto;
}

#header-wrap{
	background: white;
}

#top:not(.single){
	min-height: 100px;
}

body.single #top, body.page #top{
	min-height: 100px;
}

header ul{
	margin: 0;
	padding: 0;
}

#main-menu{
	float: right;
	margin-top: 15px;
	/*width: 681px !important;*/
	height: 40px;
	/*padding: 14px 0;*/
	text-align: center;
	/*background: url(../images/menu-bg.png);*/
}

#main-menu li{
	list-style: none;
	display: inline-block;
	position: relative;
}

#main-menu li a {
	display: block;
	height: 40px;
	line-height: 42px;
	text-transform: uppercase;
	font-family: 'Tahoma';
	color: white;
	font-size: 18px;
	text-decoration: none;
	font-weight: 300;
	color: black;
	padding: 0 15px;

	-webkit-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	-ms-transition: color 0.2s linear;
	transition: color 0.2s linear;
}


#main-menu li a:hover{
	color: #23d1de;
	
	text-shadow: rgba(35, 209, 222, 0.5) 0 0 4px;
}

#newsletter{
	position: absolute;
	left: 20px;
	top: 50px;
	width: 50px;
	height: 30px;
	background: url(../images/signup-postcard.png) no-repeat center;
	background-size: 100%;
	z-index: 97;
}

#newsletter-login{
 background-image:url(http://dealfuel.com/wp-content/themes/dealfuel/images/signup-postcard-login.png);
  background-position:50% 50%;
  background-repeat:no-repeat no-repeat;
  background-size:100%;
  height:30px;
  left:20px;
  position:absolute;
  top:50px;
  width:50px;
  z-index:97;
}

#newsletter-login-x {
	position: absolute;
	left: -15px;
	top: 5px;
	background: #eee;
	display: block !important;
	width: 32px;
	height: 32px;

	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;

	-webkit-box-shadow: 0px 3px 5px #444;
	-moz-box-shadow: 0px 3px 5px #444;
	box-shadow: 0px 3px 5px #444;
	font: 20px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	cursor: pointer;
}

#newsletter-login .sub-loading1{
width: 468px;
	height: 248px;
	display: block;
	position: relative;
	left: 25px;
	top: 30px;
	background: rgba(237,237,237,0.8) url(../images/ajax-loader.gif) no-repeat center;
	z-index: 100;
}

#newsletter-login .sub-error1{
	width: 468px;
	height: 96px;
	padding: 76px 0;
	line-height: 48px;
	font-size: 22px;
	position: relative;
	left: 25px;
	top: 30px;
	background: rgba(237,237,237,0.9);
	color: #43322a;
	text-shadow: rgba(225,225,225, 1) 0 -1px 0;
	z-index: 200;
	display: block;
}
#newsletter .sub-thankyou{
	width: 468px;
	height: 248px;
	background: url(../images/success-postcard.png);
	position: relative;
	left: 25px;
	top: 30px;
	display: block;
	z-index: 100;
}

#newsletter-login .sub-thankyou1{
	width: 468px;
	height: 248px;
	background: url(../images/success-postcard.png);
	position: relative;
	left: 25px;
	top: 30px;
	display: block;
	z-index: 100;
}

#newsletter .sub-loading{
	width: 468px;
	height: 248px;
	display: block;
	position: relative;
	left: 25px;
	top: 30px;
	background: rgba(237,237,237,0.8) url(../images/ajax-loader.gif) no-repeat center;
	z-index: 100;
}

#newsletter .sub-error{
	width: 468px;
	height: 96px;
	padding: 76px 0;
	line-height: 48px;
	font-size: 22px;
	position: relative;
	left: 25px;
	top: 30px;
	background: rgba(237,237,237,0.9);
	color: #43322a;
	text-shadow: rgba(225,225,225, 1) 0 -1px 0;
	z-index: 200;
	display: block;
}

#newsletter-c-b{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 96;
	cursor: pointer;
}

#newsletter-login-c-b{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 96;
	cursor: pointer;
}

#newsletter-x {
	position: absolute;
	left: -15px;
	top: 5px;
	background: #eee;
	display: block;
	width: 32px;
	height: 32px;

	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;

	-webkit-box-shadow: 0px 3px 5px #444;
	-moz-box-shadow: 0px 3px 5px #444;
	box-shadow: 0px 3px 5px #444;
	font: 20px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	cursor: pointer;
}

#cm-sub-name{
	position: absolute;
	left: 233px;
	top: 97px;
	width: 120px;
	height: 34px;
	background: transparent;
	border: 0;
	font: 18px Georgia, "Times New Roman", Times, serif;
	outline: 0;
	z-index: 99;
}

#cm-sub-email{
	position: absolute;
	left: 287px;
	top: 190px;
	height: 30px;
	width: 165px;
	background: transparent;
	border: 0;
	outline: 0;
	font: 18px Georgia, "Times New Roman", Times, serif;
	z-index: 99;
}

#cm-sub-submit{
	width: 193px;
	height: 54px;
	display: block;
	position: absolute;
	background: transparent;
	border: 0;
	top: 237px;
	left: 50px;
	cursor: pointer;
	z-index: 99;
}

#featured-deal-title{
	float: right;
	width: 635px;
	text-align: center;
	margin: 0;
	margin-top: 10px;
	font-size: 28px;
	line-height: 39px;
	font-weight: normal;
	height: 90px;
}

h1#featured-deal-title p{
	display: table;
	height: 100%;
	width: 100%;
}

h1#featured-deal-title a{
	display: table-cell;
	vertical-align: middle;
}

#featured-deal-title a {
	color: #f0f2e0;
	text-decoration: none;

	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;

	-webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
	-moz-box-shadow: 0 0 0 rgba(0,0,0,0);
	box-shadow: 0 0 0 rgba(0,0,0,0);
}


#featured-deal-title a:hover{
	text-shadow: rgba(252,251,243,0.6) 0 0 7px;
}

#header-content-wrap{
	background: #6b6866;
	border-bottom: 4px solid #53504d;
}

#lower-header{
	min-height: 410px;
	position: relative;
}

header h3{
	margin: 0;
}

#fuel-bowser{
	width: 318px;
	height: 593px;
	position: absolute;
	left: -130px;
	bottom: 0;
	padding-left: 130px;
	background: url(../images/bowser.png) no-repeat right;
}

#logo-text {
	position: absolute;
	top: 60px;
	left: 260px;
	font-size: 28px;
	text-transform: uppercase;
	text-decoration: none;
	color: #c1732b;
	text-shadow: rgba(243,234,225,0) 0 0 1px, rgba(243,234,225,0) 0 0 1px, rgba(243,234,225,0) 0 0 1px, rgba(243,234,225,0) 0 0 1px, rgba(0,0,0,0.1) 0 5px 0;

	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}


#logo-text:hover{
	color: #ea7e1b;
	text-shadow: rgba(243,234,225,1) 0 0 15px,
		rgba(243,234,225,1) 0 0 20px,
		rgba(243,234,225,0) 0 0 25px,
		rgba(243,234,225,0) 0 0 30px,
		rgba(0,0,0,0.25) 0 5px 5px;
}

#featured-original-price {
	position: absolute;
	top: 265px;
	color: #e9e692;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 500;
	left: 204px;
	text-align: center;
	width: 180px;
	height: 40px;
	line-height: 40px;

	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}


#featured-original-price:hover{
	text-shadow: rgba(231,228,144,0.6) 0 0 6px;
}

#strike-through{
	width: 47px;
	height: 7px;
	display: inline-block;
	top: 17px;
	left: 119px;
	position: absolute;
	-ground: url(../images/price-strike-through.png);
}

#featured-new-price, #featured-savings{
	position: absolute;
	left: 204px;
	width: 180px;
	height: 40px;
	line-height: 44px;
	letter-spacing: 11px;
	text-indent: 9px;
	font-size: 22px;
	cursor: pointer;
}

#featured-new-price{
	top: 346px;
	left: 201px;
	color: #df3030;
	text-align: right;
}

#featured-savings{
	top: 392px;
	margin: 0;
	font-weight: normal;
}

#featured-description{
	height: 340px;
	padding: 20px 0 20px 340px;
	width: 290px;
	float: left;
}

#featured-description p, #featured-description p *{
	margin-top: 0;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: bold;
	color: #b2b4a9;
	font-size: 17px;
}



#featured-description li{
	color: #b2b4a9;
	font-size: 17px;
	margin-left: 40px;
	list-style: disc;
	font-weight: bold;
	margin-bottom: 10px;
}

#featured-deal-image{
	position: absolute;
	right: -20px;
	top: 10px;
	width: 362px;
	height: 275px;
	background: url(../images/featured-deal-image-frame.png) no-repeat center top;
}

#featured-deal-image h3{
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-size: 28px;
	font-family: Tahoma;
	font-weight: 300;
	text-shadow: rgba(0,0,0,0.5) 0 -1px 0;
	font-family: 'Lobster';
}

#featured-deal-image h3 a{
	color: white;
	text-decoration: none;
}

#featured-deal-image img{
	position: absolute;
	width: 278px;
	height: 190px;
	top: 65px;
	left: 41px;
}

#featured-deal-image a{
	text-decoration: none;
}

#featured-deal-image a:active{
	position: absolute;
	top: 65px;
}

#featured-description p{
	margin-bottom: 15px;
}

.deal a{
	text-decoration: none;
}

.deal .hover-text {
	text-decoration: none;
	background: rgba(0,0,0,0.5);
	height: 190px;
	width: 258px;
	position: absolute;
	top: 25px;
	left: 25px;
	z-index: 8;
	color: white;
	text-align: center;
	line-height: 190px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 22px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}

.deal a:hover .hover-text {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}


.deal a:active .hover-text{
	position: absolute;
	top: -178px!important;
	left: 0px!important;
}

#featured-deal-image .hover-text {
	text-decoration: none;
	background: rgba(0,0,0,0.5);
	height: 190px;
	width: 278px;
	position: absolute;
	top: 65px;
	left: 41px;
	z-index: 9;
	color: white;
	text-align: center;
	line-height: 190px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 22px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}


#featured-deal-image a:hover .hover-text {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}


#featured-deal-buy-now {
	display: block;
	width: 320px;
	height: 88px;
	line-height: 92px;
	color: #fff;
	text-decoration: none;
	font-family: Tahoma;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 36px;
	text-align: center;
	position: absolute;
	right: 0;
	top: 300px;
	text-shadow: rgba(0,0,0,0.5) 0 -1px 0;
	border: 2px solid #f8f8f8;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 0px 6px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 6px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 6px 0px rgba(0,0,0,0.3);

	-webkit-transition: text-shadow 0.2s linear;
	-moz-transition: text-shadow 0.2s linear;
	-o-transition: text-shadow 0.2s linear;
	-ms-transition: text-shadow 0.2s linear;
	transition: text-shadow 0.2s linear;
	
	background-color: #A94D02;
	background-image: -webkit-linear-gradient(bottom, rgb(169,77,2) 15%, rgb(208,112,3) 85%);
	background-image: -moz-linear-gradient(bottom, rgb(169,77,2) 15%, rgb(208,112,3) 85%);
	background-image: -o-linear-gradient(bottom, rgb(169,77,2) 15%, rgb(208,112,3) 85%);
	background-image: -ms-linear-gradient(bottom, rgb(169,77,2) 15%, rgb(208,112,3) 85%);
	background-image: linear-gradient(bottom, rgb(169,77,2) 15%, rgb(208,112,3) 85%);
	-image background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.15, rgb(169,77,2)), color-stop(0.85, rgb(208,112,3)) );
}


#featured-deal-buy-now:hover{
	text-shadow: rgba(252,251,243,0.6) 0 0 8px;
	
}

#featured-deal-buy-now:active {
	top: 306px;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	
	background-color: #D07002;
	background-image: -webkit-linear-gradient(bottom, rgb(208,112,3) 15%, rgb(169,77,2) 85%);
	background-image: -moz-linear-gradient(bottom, rgb(208,112,3) 15%, rgb(169,77,2) 85%);
	background-image: -o-linear-gradient(bottom, rgb(208,112,3) 15%, rgb(169,77,2) 85%);
	background-image: -ms-linear-gradient(bottom, rgb(208,112,3) 15%, rgb(169,77,2) 85%);
	background-image: linear-gradient(bottom, rgb(208,112,3) 15%, rgb(169,77,2) 85%);
	-image background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.15, rgb(208,112,3)), color-stop(0.85, rgb(169,77,2)) );
}


.page-title{
	text-align: center;
	height: 70px;
	color: #6b6866;
	font-weight: normal;
	line-height: 70px;
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 32px;
	background: url(../images/plus-separator.png) repeat-x 0 0, url(../images/plus-separator.png) repeat-x 0 66px;
}

.deal {
	width: 256px;
	padding: 25px;
	margin: 9px;
	margin-bottom: 30px;
	float: left;
	background: #fcfbf3;
	position: relative;
	height: 550px;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;

	-webkit-box-shadow: 0 6px 0 rgba(0,0,0,0.25);
	-moz-box-shadow: 0 6px 0 rgba(0,0,0,0.25);
	box-shadow: 0 6px 0 rgba(0,0,0,0.25);
	border: 1px solid #b0b0b0;
}


.deal-price{
	position: absolute;
	width: 129px;
	padding-left: 3px;
	top: -10px;
	right: 15px;
	height: 92px;
	padding-top: 10px;
	background: url(../images/deal-price-badge.png) no-repeat left;
	text-align: center;
	color: white!important;
	text-decoration: none;
	text-shadow: rgba(0,0,0,0.5) 0 -1px 0;
	z-index: 9;
}

.deal-price .lobster{
	font-size: 24px;
	color: white;
}

.deal-price .interstate{
	text-transform: uppercase;
	font-weight: 500;
	font-size: 17px;
}

.deal-price .original{
	display: block;
	margin-bottom: 5px;
	margin-top: 3px;
	font-size: 15px;
}

.deal-image img{
	width: 258px;
}

.deal h3{
	font-weight: normal;
	margin: 10px 0;
	font-size: 18px;
}

.deal h3 a{
	text-decoration: none;
	color: #c95c0c;
}

.deal>p{
	font-size: 12px;
	line-height: 18px;
	color: #696969;
}

.buy-deal {
	position: absolute;
	width: 253px;
	height: 50px;
	bottom: 23px;
	display: block;
	color: #fff!important;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	font-family: Tahoma;
	text-transform: uppercase;
	font-size: 28px;
	font-weight: 700;
	text-shadow: rgba(0,0,0,0.7) 0 -1px 0;
	border: 2px solid #ccc;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 0px 3px 0px #444, 0 0 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 3px 0px #444, 0 0 2px rgba(0,0,0,0.5);
	box-shadow: 0px 3px 0px #444, 0 0 2px rgba(0,0,0,0.5);

	-webkit-transition: text-shadow 0.2s linear;
	-moz-transition: text-shadow 0.2s linear;
	-o-transition: text-shadow 0.2s linear;
	-ms-transition: text-shadow 0.2s linear;
	transition: text-shadow 0.2s linear;

	background-color: #A94D02;
	background-image: -webkit-linear-gradient(bottom, rgb(169,77,2) 15%, rgb(208,112,3) 85%);
	background-image: -moz-linear-gradient(bottom, rgb(169,77,2) 15%, rgb(208,112,3) 85%);
	background-image: -o-linear-gradient(bottom, rgb(169,77,2) 15%, rgb(208,112,3) 85%);
	background-image: -ms-linear-gradient(bottom, rgb(169,77,2) 15%, rgb(208,112,3) 85%);
	background-image: linear-gradient(bottom, rgb(169,77,2) 15%, rgb(208,112,3) 85%);
	-image background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.15, rgb(169,77,2)), color-stop(0.85, rgb(208,112,3)) );
}


.buy-deal:hover{
	text-shadow: 0 0 7px rgba(225,225,225,0.6);
}

.buy-deal:active {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	position: absolute !important;
	top: 528px;
}

#process-wrap{
	background: #6b6866;
	padding: 15px 0;
	border-bottom: 2px solid #53504d;
	border-top: 2px solid #53504d;
}

footer{
	text-align: center;
	
}


#menu-main-footer-menu{
	margin: 0 auto;
	background: url(../images/footer-logo.png) no-repeat center top;
	width: 276px;
	height: 77px;
	text-indent: -9999px;
}

#menu-main-footer-menu li{
	color: #6b6866;
	list-style: none;
	display: inline-block;
	padding-right: 26px;
}

#menu-main-footer-menu li a{
	color: #6b6866;
}

#part-of-sitepoint-network a{
	background: url(../images/sitepoint-network.png) no-repeat center;
	text-indent: -999em;
	display: block;
	width: 100%;
	height: 26px;
	margin-top: 20px;
}

#privacy{
	clear: right;
	position: relative;
	margin-top: 50px;
}

#privacy li{
	display: inline-block;
	margin-left: 10px;
}

#privacy li a{
	text-decoration: none;
	font-size: 12px;
	color: #6b6866;
}

#fancybox-wrap{
	z-index: 9999;
}

#fancybox-content #main-menu,
#fancybox-content footer,
#fancybox-content .footer,
#fancybox-content .bottom,
#fancybox-content .allinone,
#fancybox-title-float-wrap{
	display: none;
}

#fancybox-content{
	background: url(../images/lined-bg.png) repeat 40px 0;
}

#fancybox-content #header-wrap{
	background: transparent;
	border: 0;
	position: relative;
}

#fancybox-content .content{
	padding: 0;
	width: 100%;
}

#fancybox-content .post-meta{
	padding: 0;
	height: 85px;
}

.single-pay h1{
	color: #129da7;
	text-shadow: rgba(225,225,225,1) 0 2px 0;
	font-size: 26px;
	line-height: 40px;
	padding: 0;
	width: 650px;
}

.the-deal-price{
	position: absolute;
	top: 0px;
	right: 10px;
	height: 50px;
	line-height: 75px;
	font-size: 30px;
	color: #da7813;
	text-shadow: rgba(0,0,0,0.6) 0 1px;
	font-style: normal;
	text-align: center;
}

.the-deal-price span{
	font-size: 19px;
	text-shadow: none!important;
	color: #7b4207;
	position: absolute;
	top: 25px;
	right: 0;
	width: 100px;
}

#fancybox-content .post-text{
	width: 45%;
	padding: 10px 2.5%;
	float: left;
}

.post-text img {
	border: 3px solid #605a4e;

	-webkit-box-shadow: 0px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 5px 0px rgba(0,0,0,0.2);
	margin-top: 40px !important;
	margin-bottom: 40px !important;
	display: inline-block;
}

.post-text p{
	font-weight: 300;
	margin-bottom: 20px;
	line-height: 22px;
	font-size: 18px;
	color: #6b6866;
	text-shadow: 0 1px 0 #fff;
}

.post-text li{
	color: #6b6866;
	margin-left: 40px!important;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif!important;
	font-weight: 300;
	font-size: 18px;
}

.post-text h3{
	color: #4f3e33;
	font: 32px Tahoma;
	text-transform: uppercase;
	text-shadow: rgba(0,0,0,0.15)0 4px 0;
	margin-bottom: 20px;
	margin-top: 40px;
}

.post-text h4{
	color: #4f3e33;
	font: 26px Tahoma;
	margin-bottom: 20px;
}

.post-text blockquote p{
	padding-left: 30px;
	font-style: italic;
}

.post-text blockquote p em{
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
}

.post-text a{
	color: #f17517;
	text-decoration: none;
}

.post-text img{
	max-width: 100%;
	height: auto;
}

.post-text a:visited{
	color: #1876b6;
}

.billing_address, .shipping_address{
	margin-top: 0!important;
	width: 100%!important;
}

#bandstabs{
	position: absolute;
	top: 0px;
	width: 420px;
	height: 50px;
}

#show-billing-fields{
	text-transform: uppercase;
	font-size: 28px;
	width: 410px!important;
	padding-top: 35px;
	padding-bottom: 0;
	margin: 0;
	line-height: 50px;
}

#fancybox-content form{
	margin-top: 30px;
}

#bandstabs h4{
	width: 50%;
	float: left;
	height: 50px;
}

#fancybox-content form h4{
	margin-top: 0;
}

#fancybox-content form label{
	padding-right: 23px;
	height: 55px;
	padding-top: 0;
	line-height: 55px;
	font-size: 18px;
}

#fancybox-content .textfield, .errortextfield{
	-webkit-transform: all 0.5s linear;

	border: 1px solid #696969;
	
	background-color: #73706B;
	background-image: linear-gradient(bottom, rgb(115,112,107) 100%, rgb(134,132,129) 0%);
	background-image: -o-linear-gradient(bottom, rgb(115,112,107) 100%, rgb(134,132,129) 0%);
	background-image: -moz-linear-gradient(bottom, rgb(115,112,107) 100%, rgb(134,132,129) 0%);
	background-image: -webkit-linear-gradient(bottom, rgb(115,112,107) 100%, rgb(134,132,129) 0%);
	background-image: -ms-linear-gradient(bottom, rgb(115,112,107) 100%, rgb(134,132,129) 0%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, rgb(115,112,107)),
		color-stop(0, rgb(134,132,129))
	);
	
	-moz-box-shadow: inset 5px 5px #888;
	-webkit-box-shadow: inset 5px 5px #888;
	box-shadow: inset 2px 2px 10px rgba(0,0,0,0.5);
	
	width: 264px;
	height: 34px;
	line-height: 34px;
	color: #dcd7bc!important;
	text-shadow: rgba(0,0,0,0.6) 0 1px;
	font-size: 18px!important;
	padding-left: 20px!important;
}

#bands .form_row{
	position: relative;
}

.error {
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
}


#fancybox-content .message_error{
	position: absolute;
	left: 43px;
	top: 10px;
	font-size: 22px;
	color: #f49292;
}

.textfield.half, .errortextfield.half{
	width: 110px!important;
	margin-right: 13px!important;
	float: left;
}

#fancybox-content .form_row{
	margin-bottom: 13px;
}

#add_to_sub_label{
	text-indent: 0!important;
	width: 417px;
	cursor: default!important;
	height: 80px!important;
	line-height: 20px!important;
}

#add_to_sub_label.checked{
	background-color: rgba(0,0,0,0.15)!important;
}

#add_to_sub_label span{
	font-size: 14px;
}

.post{
	position: relative;
}

.single-pay{
	width: 100%;
}

.single-pay .post{
	width: 978px;
	min-height: 620px;
	margin: 0 auto;
}

.post_deal_buy_now label{
	font-size: 20px;
	padding: 0;
	height: 55px;
	line-height: 55px;
}

#bands{
	position: relative;
	width: 45%;
	float: left;
}

.single-seller #bands{
	width: 610px!important;
}

#bands .sub-loading {
	background: rgba(226,215,197,0.8) url(../images/iframe-ajax.gif) no-repeat center;
	height: 250px;
	width: 445px;
	position: absolute;
	left: -10px;
	z-index: 9999;
	display: block;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}


#bands .sub-error{
	/*background: rgba(226,215,197,0.8);
	text-align: center;
	line-height: 250px;
	font-size: 17px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #6B6866;
	height: 250px;
	width: 445px;
	position: absolute;
	left: -10px;
	z-index: 9;
	display: block;*/
	color:red;
	font-size:20px;
	margin-left:50px;
}

.preview_section{
	margin-bottom: 0!important;
	float: right;
	width: 500px;
}

.payment_method li,#add_to_sub_label {
	height: 64px;
	line-height: 64px;
	text-indent: 75px;
	width: 95%;
	padding: 0 !important;
	font-size: 26px !important;
	font-weight: 300 !important;
	color: #5c5b59;
	cursor: pointer;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
}


.selected_method{
		background-color: rgba(0,0,0,0.15)!important;
		color: #353433!important;
}

.payment_method input{
	display: none;
}

.payment_method #paypal{background: url(../images/paypal_64.png) no-repeat left center;}
.payment_method #worldpay{background: url(../images/credit_cards_64.png) no-repeat left center;}

.preview_section #submit {
	display: block;
	text-align: center;
	text-decoration: none;
	margin: 0!important;
	width: 417px;
	height: 55px;
	line-height: 60px;
	padding: 0;
	color: #fff;
	font-family: 'Cooper STD';
	font-weight: normal;
	font-size: 32px;
	text-shadow: rgba(0,0,0,0.5) 0 -1px 0;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #07536a;

	-webkit-box-shadow: 0px 3px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 3px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 3px 0px rgba(0,0,0,0.4);

	-webkit-transition: text-shadow 0.2s linear;
	-moz-transition: text-shadow 0.2s linear;
	-o-transition: text-shadow 0.2s linear;
	-ms-transition: text-shadow 0.2s linear;
	transition: text-shadow 0.2s linear;

	background-color: #268189;
	background-image: -webkit-linear-gradient(bottom, rgb(38,129,137) 15%, rgb(43,154,166) 85%);
	background-image: -moz-linear-gradient(bottom, rgb(38,129,137) 15%, rgb(43,154,166) 85%);
	background-image: -o-linear-gradient(bottom, rgb(38,129,137) 15%, rgb(43,154,166) 85%);
	background-image: -ms-linear-gradient(bottom, rgb(38,129,137) 15%, rgb(43,154,166) 85%);
	background-image: linear-gradient(bottom, rgb(38,129,137) 15%, rgb(43,154,166) 85%);
	-image background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.15, rgb(38,129,137)), color-stop(0.85, rgb(43,154,166)) );
	background-attachment: url(../images/lock.png);
	background-position: 20px;
	position: relative;
	top: -3px;
}


#fancybox-content #submit:hover{
	text-shadow: rgba(225,225,225,0.6) 0 0 5px;
}

#fancybox-content #submit:active {
	top: 0px;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#fancybox-content .post{
	position: relative!important;
	min-height: 600px;
}

#fancybox-content 


#fancybox-content .post-text p{
	padding-left: 20px;
}

.indicates{
	color: red;
	font-size: 18px!important;
}

.singleh1{
	float: left;
	font-family: 'Cooper STD';
	color: #23d1de;
	text-shadow: rgba(0,0,0,0.5) 0 1px 0;
	position: absolute!important;
	top: 30px;
}

.return{
padding-top: 10px!important;
width: 100%!important;
position: relative;
}

.return h4{
	margin: 0!important;
	width: 320px;
	font-size: 18px!important;
	line-height: 22px;
	color: #dcd7bc;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}

#returnBackLink {
	position: absolute;
	right: 20px;
	top: 30px;
	color: #dcd7bc;
	font-size: 42px;
	font-family: Tahoma;
	width: 430px;
	text-align: right;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;

	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-shadow: #dcd7bc 0 0 1px;
}

#returnBackLink span {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	position: relative;
	top: -4px;
}


#returnBackLink:hover{
	color: #fff;
	text-shadow: #dcd7bc 0 0 10px;
}

#returnBackLink:hover span{
	position: relative;
	left: 10px;
}

#thankyou{
	background: url(../images/thankyou.png) no-repeat center;
	width: 100%;
	height: 278px;
	margin-top: 100px;
	position: relative;
}

.stamp-text{
	display: block;
	position: absolute;
	top: 70px;
	text-align: center;
	padding: 0 60px;
	width: 145px;
	height: 20px;
	font-size: 24px;
	line-height: 20px;
	color: rgba(0,0,0,0.56);
	background: url(../images/stamp-text-bg.png) no-repeat;
	text-transform: uppercase;
}

#stamp-pending{
	left: 85px;
	letter-spacing: 4px;
}

#stamp-date{
	right: 85px;
}

.page #header-wrap{
	height: 100px;
}

.page .content{
	width: 100%;
	margin-top: -50px;
	padding-top: 0;
}

.page h1{
	font-family: 'Cooper STD';
	color: #12b3bf;
	text-shadow: rgba(0,0,0,0.5) 0 1px 0;
	margin: 0;
	margin-bottom: 20px;
	font-size: 36px;
	width: 500px;
}

.page p{
	text-shadow: rgba(225,225,225,1) 0 1px 0;
}

.page .post-meta{
	width: 255px;
	height: 95px;
	padding: 0;
	margin: 0;
	position: relative;
	top: ;
	padding-left: 30px!important;
}

header{
	position: relative;
}

.back-to-home{
	position: absolute;
	left: 0;
	top: 30px;
	color: #dcd7bc!important;
	font-weight: 700;
	font-family: Tahoma!important;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 26px;
	line-height: 35px;
	
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	text-shadow: #dcd7bc 0 0 1px;
	padding-left: 45px;
	background: url(http://dealfuel.com/partners/images/logo-small.png) no-repeat left;
}

#post_13 .back-to-home{
	top: 0;
}

.hm{
	font-size: 22px;
		position: absolute;
		top: 120px;
	z-index: 9;
	font-weight: 300;
	text-decoration: none;
	color: #73706B;
}

.back-to-home:hover{
	text-decoration: none!important;
	color: #fff!important;
	text-shadow: #dcd7bc 0 0 5px!important;
}

.back-to-home span{
	position: relative;
	top: -3px;
	
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.back-to-home:hover span{
	left: 5px;
}

.page .post-content p, .page .post-content li{
	font-weight: 300;
	margin-bottom: 20px;
	line-height: 30px;
	font-size: 18px!important;
	color: #6b6866;
}

.page .post-content img {
	margin-left: 2px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 7px solid #fff;

	-webkit-box-shadow: 0 5px 0 rgba(0,0,0,0.3), 0 0 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 5px 0 rgba(0,0,0,0.3), 0 0 4px rgba(0,0,0,0.2);
	box-shadow: 0 5px 0 rgba(0,0,0,0.3), 0 0 4px rgba(0,0,0,0.2);
}

.page .post-content h3{
	font-family: Tahoma;
	color: #454342;
	font-weight: normal;
	font-size: 42px;
	margin-top: 40px;
}

.post-text li{	font-size: 18px!important;
}

.page a {
	color: #de6d53;
	text-decoration: none;

	-webkit-transition: text-shadow 0.2s linear;
	-moz-transition: text-shadow 0.2s linear;
	-o-transition: text-shadow 0.2s linear;
	-ms-transition: text-shadow 0.2s linear;
	transition: text-shadow 0.2s linear;
}


.page a:hover{
	text-shadow: #fff 0 0 5px;
}

.page a:visited{
	color: #b5391c;
}

.post-content ul{
	padding-left: 40px!important;
		margin-top: 20px!important;
}

.dealcontent ul{
	margin-top: 10px;
	padding-left: 20px!important;
}

.dealcontent ul li{
	list-style: disc;
	margin-left: 15px;
}

.dealcontent *{
	color: gray!important;
}

.dealcontent p{
	margin-bottom: 10px;
}

.page-template-tpl_contact-php h4{
	border: 0;
	text-transform: uppercase;
	color: #362e29;
	font: 500 32px Tahoma;
}

#contact_frm label{
	display: none!important;
}

#contact_frm input{
	width: 100%!important;
	padding: 0!important;}

#contact_frm .form_row:not(#the-message){
	width: 33%;
	position: absolute;
}

#contact_frm .form_row{height: 38px; margin-bottom: 0;}
#contact_frm .form_row:nth-child(2){top: 0;}
#contact_frm .form_row:nth-child(3){top: 58px;}
#contact_frm .form_row:nth-child(4){top: 114px;}

#contact_frm .error{
	position: absolute;
}

#your_messageInfo{
	right: 20px;
	top: 15px;
	color: #f09b9b;
	font-size: 22px!important;
}

#your_name_Info, #your_emailInfo{
	color: #f09b9b;
	font-size: 14px!important;
	right: 10px;
	top: 2px;
}

#contact_frm .textfield, #contact_frm .errortextfield{
	-webkit-transform: all 0.5s linear;

	border: 1px solid #696969;
	background-color: #73706B;
	background-image: linear-gradient(bottom, rgb(115,112,107) 100%, rgb(134,132,129) 0%);
	background-image: -o-linear-gradient(bottom, rgb(115,112,107) 100%, rgb(134,132,129) 0%);
	background-image: -moz-linear-gradient(bottom, rgb(115,112,107) 100%, rgb(134,132,129) 0%);
	background-image: -webkit-linear-gradient(bottom, rgb(115,112,107) 100%, rgb(134,132,129) 0%);
	background-image: -ms-linear-gradient(bottom, rgb(115,112,107) 100%, rgb(134,132,129) 0%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, rgb(115,112,107)),
		color-stop(0, rgb(134,132,129))
	);
	
	-moz-box-shadow: inset 5px 5px #888;
	-webkit-box-shadow: inset 5px 5px #888;
	box-shadow: inset 2px 2px 10px rgba(0,0,0,0.5);
	
	width: 300px!important;
	height: 34px;
	line-height: 34px;
	color: #dcd7bc!important;
	text-shadow: rgba(0,0,0,0.6) 0 1px;
	font-size: 18px!important;
	padding-left: 20px!important;
}

#contact_frm{
	position: relative;
	height: 250px;
}

#contact_frm textarea{
	-webkit-transform: all 0.5s linear;
	
		border: 1px solid #696969;
		
		background-color: #73706B;
		background-image: linear-gradient(bottom, rgb(115,112,107) 100%, rgb(134,132,129) 0%);
		background-image: -o-linear-gradient(bottom, rgb(115,112,107) 100%, rgb(134,132,129) 0%);
		background-image: -moz-linear-gradient(bottom, rgb(115,112,107) 100%, rgb(134,132,129) 0%);
		background-image: -webkit-linear-gradient(bottom, rgb(115,112,107) 100%, rgb(134,132,129) 0%);
		background-image: -ms-linear-gradient(bottom, rgb(115,112,107) 100%, rgb(134,132,129) 0%);
		
		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(1, rgb(115,112,107)),
			color-stop(0, rgb(134,132,129))
		);
		
		-moz-box-shadow: inset 5px 5px #888;
		-webkit-box-shadow: inset 5px 5px #888;
		box-shadow: inset 2px 2px 10px rgba(0,0,0,0.5);
		
		width: 600px!important;
		color: #dcd7bc!important;
		text-shadow: rgba(0,0,0,0.6) 0 1px;
		font-size: 18px!important;
		padding: 1.5%!important;
		position: absolute;
		top: 6px;
		right: 0;
		height: 120px;
}

#contact_frm .b_submit {
	display: block;
	width: 320px !important;
	height: 46px;
	line-height: 46px;
	color: #fff;
	text-decoration: none;
	font-family: Tahoma;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 36px;
	text-align: center;
	position: absolute;
	left: 0;
	top: 175px;
	margin-left: 0 !important;
	text-shadow: rgba(0,0,0,0.5) 0 -1px 0;
	border: 2px solid #f8f8f8;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 0px 6px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 6px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 6px 0px rgba(0,0,0,0.3);

	-webkit-transition: text-shadow 0.2s linear;
	-moz-transition: text-shadow 0.2s linear;
	-o-transition: text-shadow 0.2s linear;
	-ms-transition: text-shadow 0.2s linear;
	transition: text-shadow 0.2s linear;
	
	background-color: #A94D02;
	background-image: -webkit-linear-gradient(bottom, rgb(169,77,2) 15%, rgb(208,112,3) 85%);
	background-image: -moz-linear-gradient(bottom, rgb(169,77,2) 15%, rgb(208,112,3) 85%);
	background-image: -o-linear-gradient(bottom, rgb(169,77,2) 15%, rgb(208,112,3) 85%);
	background-image: -ms-linear-gradient(bottom, rgb(169,77,2) 15%, rgb(208,112,3) 85%);
	background-image: linear-gradient(bottom, rgb(169,77,2) 15%, rgb(208,112,3) 85%);
	-image background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.15, rgb(169,77,2)), color-stop(0.85, rgb(208,112,3)) );
}

#fancybox-content #show-billing-fields{
	left: 0;
}

.single .status-publish, .single .entry, .single .content{
	position: relative!important;
	width: 1000px;
}



.single #add_to_sub_label{
	height: 130px;
}

#fancybox-content #top{
	display: none;
}

.single .content{
	width: 100%;
}

.single .entry{
		margin: 0 auto;
}

#checkout-form #buy-button {
	cursor: pointer;
}
.single #submit, #checkout-form #buy-button {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 420px;
	margin-left: 0!important;
	margin-top: 40px;
	height: 55px;
	line-height: 60px;
	padding: 0;
	color: #fff;
	font-family: 'Cooper STD';
	font-weight: normal;
	font-size: 32px;
	text-shadow: rgba(0,0,0,0.5) 0 -1px 0;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #07536a;

	-webkit-box-shadow: 0px 3px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 3px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 3px 0px rgba(0,0,0,0.4);

	-webkit-transition: text-shadow 0.2s linear;
	-moz-transition: text-shadow 0.2s linear;
	-o-transition: text-shadow 0.2s linear;
	-ms-transition: text-shadow 0.2s linear;
	transition: text-shadow 0.2s linear;

	background-color: #268189;
	background-image: -webkit-linear-gradient(bottom, rgb(38,129,137) 15%, rgb(43,154,166) 85%);
	background-image: -moz-linear-gradient(bottom, rgb(38,129,137) 15%, rgb(43,154,166) 85%);
	background-image: -o-linear-gradient(bottom, rgb(38,129,137) 15%, rgb(43,154,166) 85%);
	background-image: -ms-linear-gradient(bottom, rgb(38,129,137) 15%, rgb(43,154,166) 85%);
	background-image: linear-gradient(bottom, rgb(38,129,137) 15%, rgb(43,154,166) 85%);
	-image background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.15, rgb(38,129,137)), color-stop(0.85, rgb(43,154,166)) );
	background-attachment: url(../images/lock.png);
	background-position: 20px;
}

#fancybox-content #submit{
	left: 0;
}

.single .textfield, .single .errortextfield{
	-webkit-transition: all 0.5s linear;
	
		border: 1px solid #696969;
		
		background-color: #73706B;
		background-image: linear-gradient(bottom, rgb(115,112,107) 100%, rgb(134,132,129) 0%);
		background-image: -o-linear-gradient(bottom, rgb(115,112,107) 100%, rgb(134,132,129) 0%);
		background-image: -moz-linear-gradient(bottom, rgb(115,112,107) 100%, rgb(134,132,129) 0%);
		background-image: -webkit-linear-gradient(bottom, rgb(115,112,107) 100%, rgb(134,132,129) 0%);
		background-image: -ms-linear-gradient(bottom, rgb(115,112,107) 100%, rgb(134,132,129) 0%);
		
		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(1, rgb(115,112,107)),
			color-stop(0, rgb(134,132,129))
		);
		
		-moz-box-shadow: inset 5px 5px #888;
		-webkit-box-shadow: inset 5px 5px #888;
		box-shadow: inset 2px 2px 10px rgba(0,0,0,0.5);
		
		width: 270px!important;
		height: 34px;
		line-height: 34px;
		color: #dcd7bc!important;
		text-shadow: rgba(0,0,0,0.6) 0 1px;
		font-size: 18px!important;
		padding-left: 20px!important;
}

#single-header a{
	height: 75px;
	line-height: 75px;
	font-size: 22px;
	color: rgb(24, 196, 215);
	text-decoration: none;
}

.single#top{
	
}

#gohome{
	position: absolute;
	right: 30px;
	top: 0;
	text-transform: uppercase;
}

#gohome a {
	text-decoration: none;
	color: #dcd7bc;
	font-size: 32px;
	font-family: Tahoma;
	height: 75px;
	line-height: 77px;
	text-align: right;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;

	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-shadow: #dcd7bc 0 0 1px;
}


#gohome span {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	position: relative;
	top: -4px;
}


#gohome a:hover{
	color: #fff;
	text-shadow: #dcd7bc 0 0 10px;
}

#gohome a:hover span{
	position: relative;
	left: 10px;
}

.single .coopers{
	color: #1c8a93;
	font-size: 26px;
	margin-bottom: 30px;
	font-weight: normal;
	text-shadow: 0 1px 0 #fff;
	width: 460px;
}

.redirect{
	width: 100%;
	height: 485px;
	background: url(../images/redirect.gif) no-repeat center;
	margin-top: 30px;
	text-indent: -999em;
}

.leheader .back-to-home{
	height: 100px;
	line-height: 100px;
}

.leheader{
	height: 100px;
}

.leheader .inner{
	width: 940px;
	margin: 0 auto;
}


 .share{
 	position: absolute;
 	top: 100px;
 	left: 0;
 	z-index: 999;
 	padding-left: 25px!important;
 	overflow: hidden;
 }
 
 .share ul{
 	margin: 0;
 	text-align: center;
 	position: relative;
 	top: -290px;
 	padding-left: 0px;
 	background: rgba(0,0,0,0.5);
 }
 
 .share li{
 	margin: 0;
 	list-style: none;
 	clear: both;
 	position: relative;
 	left: 5px;
 }
 
 #drawerHandle{
 	position: relative;
 	cursor: pointer;
 	left: 0px;
 	top: -3px;
 	text-align: center;
 }
 
 #drawerHandle span{
 	display: block;
 	font-family: Tahoma;
 	text-transform: uppercase;
 	font-size: 22px;
 	color: #dcd7bc;
 	-webkit-transition: all 0.3s linear;
 }
 
 #drawerHandle:hover span{
 	text-shadow: 0 1px 3px rgba(225,225,225,0.7);
 }
 
 .share li a{
 	display: block;
 	width: 80px;
 	height: 100px;
 	margin-right: 10px;
 	text-indent: -99em;
 }
 
 #facebookShare a{
 	background: url(../images/facebook-share.png) no-repeat left;
 }
 
 #twitterShare a{
 	background: url(../images/twitter-share.png) no-repeat left;
 }
 
 #googleShare a{
 	background: url(../images/google-share.png) no-repeat left;
 }
 
 #facebookFollow a{
 	background: url(../images/facebook-follow.png) no-repeat left;
 }
 
 #twitterFollow a{
 	background: url(../images/twitter-follow.png) no-repeat left;
 }
 
 #googleFollow a{
 	background: url(../images/google-follow.png) no-repeat left;
 }
 
 .follow{
 	position: relative;
 	top: 515px;
 	left: 67px;
 }

.follow li{
	float: left;
}

.follow li a{
	width: 65px;
	height: 64px;
	display: block;
	text-indent: -999em;
}

#howitworks{
	position: relative;
	top: 52px;
	background: url(../images/howitworks.png) no-repeat center top;
	height: 950px;
}

#howitworks li{
	list-style: none;
	text-align: center;
	position: absolute;
}

#howitworks li:first-child{
	display: none;
}

#howitworks li:last-child{
	top: 610px;
	font-weight: bold;
}

#howitworks li:nth-child(2) {
	top: 240px;
	left: 510px;
}

#howitworks li:nth-child(3) {
	top: 610px;
	left: 620px;
	line-height: 26px;
}

#howitworks li:nth-child(4) {
	top: 640px;
	left:300px;
}


.preview_section h2{
	color: #4f3e33;
	font: 26px Tahoma;
	text-transform: uppercase;
	text-shadow: rgba(0,0,0,0.15) 0 4px 0;
	margin-bottom: 20px;
	position: relative;
	top: ;
}


#add_deal{
	margin-top: 170px;
}

#add_deal ul{
	padding: 0!important;
}

#add_deal li{
	list-style: none;
}

#add_deal label{
	width: 300px;
	display: block;
	float: left;
	padding-right: 30px;
	height: 100%;
}

#add_deal input{
	height: 30px!important;
	padding: 5px 10px;
	width: 350px;
	border-radius: 5px;
	border: 0;
	/*box-shadow: 0px 3px 0px rgba(0,0,0,0.2);*/
	font-size: 16px;
	color: #444;
}
#add_deal input[type='file']{
	height: 30px!important;
	padding: 5px 10px;
	width: 350px;
	border-radius: 5px;
	border: 0;
	box-shadow: 0px 3px 0px rgba(0,0,0,0.2);
	font-size: 16px;
	color: #444;
	display:inline-block !important;
	
}
#add_deal textarea{
	width: 350px;
	height: 150px;
	padding: 5px 10px;
	border-radius: 5px;
	border: 0;
	box-shadow: 0px 3px 0px rgba(0,0,0,0.2);
}

.multi-coupon textarea{
	margin-left: 330px;
}

#add_deal .hide p{
	display: none;
}

#add_deal_submit{
	display: block;
		text-align: center;
		text-decoration: none;
		margin: 0;
		width: 700px!important;
		line-height: 27px;
		color: white!important;
		padding: 0;
		color: #fff;
		font-family: 'Cooper STD';
		font-weight: normal;
		font-size: 32px;
		text-shadow: rgba(0,0,0,0.5) 0 -1px 0;
	
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border: 2px solid #07536a;
	
		-webkit-box-shadow: 0px 3px 0px rgba(0,0,0,0.4);
		-moz-box-shadow: 0px 3px 0px rgba(0,0,0,0.4);
		box-shadow: 0px 3px 0px rgba(0,0,0,0.4);
	
		-webkit-transition: text-shadow 0.2s linear;
		-moz-transition: text-shadow 0.2s linear;
		-o-transition: text-shadow 0.2s linear;
		-ms-transition: text-shadow 0.2s linear;
		transition: text-shadow 0.2s linear;
	
		background-color: #268189;
		background-image: -webkit-linear-gradient(bottom, rgb(38,129,137) 15%, rgb(43,154,166) 85%);
		background-image: -moz-linear-gradient(bottom, rgb(38,129,137) 15%, rgb(43,154,166) 85%);
		background-image: -o-linear-gradient(bottom, rgb(38,129,137) 15%, rgb(43,154,166) 85%);
		background-image: -ms-linear-gradient(bottom, rgb(38,129,137) 15%, rgb(43,154,166) 85%);
		background-image: linear-gradient(bottom, rgb(38,129,137) 15%, rgb(43,154,166) 85%);
		-image background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.15, rgb(38,129,137)), color-stop(0.85, rgb(43,154,166)) );
		background-attachment: url(../images/lock.png);
		background-position: 20px;
		position: relative;
		top: -3px;
}




#add_deal label{
	font-size: 14px!important;
	line-height: 17px;
}

#add_deal li{
	clear: both;
}


.post_deal_buy_now{
	padding: 0;
	position: relative;
	background: url(../images/lined-bg.png) !important;
	width: 980px;
	margin: 0 auto;
}

.single-seller .post_deal_buy_now{
	height: 450px;
	width: 640px;
	z-index: 9;
}

.billing_address{
	padding-top: 45px;
}

.post_deal_buy_now{
	padding-top: 20px!important;
}

.post_deal_buy_now .preview_section{
	position: absolute;
	right: 0;
}

.omg{
	float: left;
	width: 250px;
	padding: 10px;
	background: rgba(0,0,0,0.2);
	box-shadow: 0 5px 1px rgba(0,0,0,0.5);
	border-radius: 5px;
	font-family: "Tahoma";
	font-size: 26px;
	margin-bottom: 20px;
	position: relative;
}

.omg:after{
	content: ".";
	position: absolute;
	top: 56px;
	text-indent: -999em;
	left: -17px;
	width: 304px;
	height: 106px;
	background: url(../images/todayonlyribbon.png) no-repeat left top;
}

.omg h2{
	margin: 10px;
	margin-bottom: 20px;
	color: white;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
	text-align: center;
	position: relative;
	z-index: 9;
}

.omg .todays{
	font-size: 24px;
	margin: 40px 10px 5px;
}

.omg h2:nth-child(1), .save{
	color: #a96824!important;
	text-shadow: 0 1px 0 rgba(225,225,225,0.5)!important;
	font-weight: normal!important;
	font-size: 22px!important;
}

.save{
	margin-top: 40px!important;
}

.omg .orig{
	//position: relative;
	//text-decoration: line-through;
}

.omg .orig:after{
	content: ".";
	text-indent: -999em;
	width: 23%;
	display: block;
	position: absolute;
	height: 2px;
	top: 12px;
	opacity: .6;
	//-webkit-transform: rotate(5deg);
	background-color: #4b2911;
	left:146px;
}

.deal_sidebar{
	position: absolute;
	right: 0;
	
         margin-top: -97px !important;
	-webkit-transition: top 1s ease-in-out;
}

.single-seller .deal_sidebar{
	top: 0;
}

.bottom{
	bottom: 0!important;
}

.deal_sidebar>div{
	-webkit-transition: opacity 1s ease-in-out;
}

#testimonials h2{
	margin: 0;
	font-size: 15px;
}


.deal_sidebar .social{
	margin: 0;
	padding: 0 	;
}

.deal_sidebar .fade{
	opacity: 0;
}

.post-meta{
	width: 980px;
	position: relative;
	margin: 0 auto;
	min-height: 100px;
}

.seller-post-meta{
	width: 940px;
	margin: 0 auto;
	position: relative;
	z-index: 9;
}

.seller-post-meta h1{
	width: 640px!important;
}

h1.coopers{
	float: left;
}

.omg .buy-now-button{
	display: block;
	width: 225px !important;
	height: 46px;
	line-height: 46px;
	color: #fff;
	text-decoration: none;
	font-family: Tahoma;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 36px;
	text-align: center;
	margin-left: 10px !important;
	margin-bottom: 10px;
	text-shadow: rgba(0,0,0,0.5) 0 -1px 0;
	border: 2px solid #f8f8f8;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 0px 6px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 6px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 6px 0px rgba(0,0,0,0.3);

	-webkit-transition: text-shadow 0.2s linear;
	-moz-transition: text-shadow 0.2s linear;
	-o-transition: text-shadow 0.2s linear;
	-ms-transition: text-shadow 0.2s linear;
	transition: text-shadow 0.2s linear;
	
	background-color: #A94D02;
	background-image: -webkit-linear-gradient(bottom, rgb(169,77,2) 15%, rgb(208,112,3) 85%);
	background-image: -moz-linear-gradient(bottom, rgb(169,77,2) 15%, rgb(208,112,3) 85%);
	background-image: -o-linear-gradient(bottom, rgb(169,77,2) 15%, rgb(208,112,3) 85%);
	background-image: -ms-linear-gradient(bottom, rgb(169,77,2) 15%, rgb(208,112,3) 85%);
	background-image: linear-gradient(bottom, rgb(169,77,2) 15%, rgb(208,112,3) 85%);
	-image background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.15, rgb(169,77,2)), color-stop(0.85, rgb(208,112,3)) );
}

.omg .buy-now-button:active{
	position: relative;
	top: 6px;
	box-shadow: none;
}

p.social{
	clear: left;
	padding: 10px 0;
	font-size: 14px;
}

p.social a{
	color: #a5674c;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(225,225,225,1);
	border-bottom: 1px solid #b2775d;
	font-weight: bold;
}

.post-text{
	width: 640px;
}

#testimonials{
	width: 250px;
	padding: 10px;
	right: 0;
	margin: 0;
}

.deal_sidebar div:not(.omg) h2{
	font-size: 20px;
	line-height: 28px;
	text-shadow: 0 3px 1px rgba(0,0,0,0.15);
	color: #553d2d;
}

#testimonials ul{
	margin-left: 0;
}

.sociallinks h2{
	text-align: center;
}

#testimonials li{
	list-style: none;
	color: #6a6260;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	box-shadow: 0px 1px 0px rgba(255,255,255,0.3), 0px -1px 0px rgba(0,0,0,0.15);
	border-top: 1px solid rgba(255,255,255,0.3);
	margin: 0;
	padding-bottom: 10px;
	padding-top: 10px;
}

#testimonials li p{
	font-style: italic;
	font-size: 16px;
}

#testimonials li cite{
	display: inline-block;
	color: rgb(38,129,137);
	text-transform: uppercase;
	font-style: normal;
	font-weight: bold;
	font-family: "CooperSTD";
}

p.social{
	text-align: center;
}

p.social a{
	display: inline-block;
	border: none;
	height: 80px;
	width: 80px;
	text-indent: -999em;
	-webkit-transition: opacity 0.3s ease-in-out;
}

p.social a:not(:hover){
	opacity: 0.5;
}

p.social .twitter{
	background: url(../images/twitter-share.png);
}

p.social .facebook{
	background: url(../images/facebook-share.png);
}

p.social .google{
	background: url(../images/google-share.png);
}

.page-template-tpl_all_deals-php .alldealz{
	clear: both;
	padding-top: 50px;
}

.page-template-tpl_all_deals-php .deal{
	overflow: hidden;
}

.formember{
  background-color: #C56602;
    border-radius: 8px 8px 8px 8px;
    color: #FFFFFF;
    font-size: 19px;
    margin-bottom: 15px;
    margin-left: 155px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    width: 686px;
    clear:both;
}

 a.dealclub {
	color: #de6d53;
	text-decoration: none;

	-webkit-transition: text-shadow 0.2s linear;
	-moz-transition: text-shadow 0.2s linear;
	-o-transition: text-shadow 0.2s linear;
	-ms-transition: text-shadow 0.2s linear;
	transition: text-shadow 0.2s linear;
}


 a.dealclub:hover{
	text-shadow: #fff 0 0 5px;
}








